install
install/
install/*
install/**
./install
./install/
./install/*
./install/**

build
build/
build/*
build/**
./build
./build/
./build/*
./build/**

log
log/
log/*
log/**
./log
./log/
./log/*
./log/**

.vscode
.vscode/
.vscode/*
.vscode/**